<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
    <head>
        <meta th:replace="~{static/headerMeta :: meta}">
        <link th:replace="~{static/headerLink :: link}">
        <script th:replace="~{static/headerScript :: script}"></script>
        <script th:replace="~{static/headerScriptJquery :: script}"></script>

        <title th:text="#{schedule}"></title>

        <script type="text/javascript">

            function validate(){

                var field = ['name','specificStartDate','specificEndDate','startTime','endTime'];
                restore();
                var validated = true;
                for(var i=0; i < field.length; i++){
                    var rolName = document.getElementById(field[i]);
                    var rolNameError = document.getElementById(field[i]+'Error');
                    if(rolName.value==''){
                        if(rolNameError != null){
                            rolNameError.className = "colorRed";
                        }
                        rolName.style.borderColor="red";
                        validated = false;
                    }
                }

                var isAdult = document.getElementById('adult').checked;
                var isMinor = document.getElementById('minor').checked;
                var isInclusive = document.getElementById('inclusive').checked;
                if(!isAdult && !isMinor && !isInclusive){
                    var labelAmi = document.getElementsByName('label-ami');
                    for (var i = 0; i < labelAmi.length; i++) {
                        labelAmi[i].className = "colorRed";
                    }
                    validated = false;
                }

                var monday = document.getElementById('monday').checked;
                var tuesday = document.getElementById('tuesday').checked;
                var wednesday = document.getElementById('wednesday').checked;
                var thursday = document.getElementById('thursday').checked;
                var friday = document.getElementById('friday').checked;
                var saturday = document.getElementById('saturday').checked;
                var sunday = document.getElementById('sunday').checked;
                if(!monday && !tuesday && !wednesday && !thursday && !friday && !saturday && !sunday){
                    var labelWeek = document.getElementsByName('label-week');
                    for (var i = 0; i < labelWeek.length; i++) {
                        labelWeek[i].className = "colorRed";
                    }
                    validated = false;
                }

                if(validated){
                    return true;
                } else {
                    document.getElementById('thereIsError').className = "colorRed";
                    return false;
                }
            }
            function restore(){
                var errorSpan = document.getElementsByName('errorSpan');
                for (var i = 0; i < errorSpan.length; i++) {
                    errorSpan[i].className = "d-none";
                }
                var fields = document.getElementsByClassName("form-control");
                for (var i = 0; i < fields.length; i++) {
                    fields[i].style.borderColor="#ced4da";
                }
                var fields = document.getElementsByName("label-ami");
                for (var i = 0; i < fields.length; i++) {
                    fields[i].className="form-check-label";
                }
                var fields = document.getElementsByName("label-week");
                for (var i = 0; i < fields.length; i++) {
                    fields[i].className="form-check-label";
                }
            }

            function confirmDelete(id, name){
                let deleteAsk = $('#deleteAsk').val();
                if(confirm(deleteAsk + " " + name + "?")){
                    var relativeUrl = "gymActivity/remove-activitySchedule/" + id;
                    var domain = getDomain(location.href);
                    location.href = domain + relativeUrl;
                    return true;
                }
                return false;
            }
        </script>
    </head>
    <body>
        <div th:replace="~{static/barraUser :: div}"></div>
        <div th:replace="~{static/barraNav :: nav}"></div>
        <div th:replace="~{static/barraAdminRootButtons :: section}"></div>

        <div class="container">
            <input type="hidden" id="deleteAsk" th:value="#{confirm.delete}"/>
            <section class="marginTopBottom1Percentage text-center">
                <div th:if="${updateOK != null}" class="alert alert-success" role="alert"><span
                        th:text="#{update.ok}"></span></div>
            </section>

            <section sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row mb-1 text-center">
                    <div class="col-md-2">
                        <a class="btn btn-danger" href="#"
                           th:attr="onclick=|confirmDelete('${gymActivityScheduleModel.id}','${gymActivityScheduleModel.name}')|">
                            <span th:text="#{delete}"></span> <span th:text="#{schedule}"></span>
                        </a>
                    </div>
                    <div class="col-9 col-md-8 colorGreen">
                        <h1 th:text="${gymActivityScheduleModel.name}"></h1>
                    </div>
                    <div class="col-3 col-md-2">
                        <a class="btn btn-info" href="#" th:href="@{/gymActivity/activity/__${gymActivityScheduleModel.gymActivityModel.id}__}">
                            <span th:text="#{back}"></span>
                        </a>
                    </div>
                </div>
            </section>

            <section sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:action="@{/gymActivity/update-activitySchedule}" th:object="${gymActivityScheduleModel}" method="post"
                      onsubmit="return validate()">

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{gymActivityModel.id}"/>
                    <input type="hidden" th:field="*{activityModel.id}"/>
                    <input type="hidden" th:field="*{gymAddressModel.id}"/>
                    <input type="hidden" th:field="*{gymAddressModel.gymModel.id}"/>
                    <input type="hidden" th:field="*{position}"/>

                    <div class="row align-items-center text-center">
                        <div class="col-6 col-lg-1 p-0">
                            <label for="name" th:text="#{name}"></label>
                        </div>
                        <div class="col-6 col-lg-4 p-0">
                            <input type="text" th:field="*{name}" class="form-control" id="name" />
                        </div>
                        <div class="col-6 col-lg-1 p-0">
                            <label for="roomName" th:text="#{room.name}"></label>
                        </div>
                        <div class="col-6 col-lg-4 p-0">
                            <input type="text" th:field="*{roomName}" class="form-control" id="roomName" />
                        </div>

                        <div class="col-6 col-lg-1 p-0">
                            <label for="capacity" th:text="#{capacity}"></label>
                        </div>
                        <div class="col-6 col-lg-1 p-0">
                            <input type="number" th:field="*{capacity}" class="form-control" id="capacity" />
                        </div>
                    </div>

                    <div class="row align-items-center d-flex flex-wrap">
                        <div class="col-6 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{adult}" class="form-check-input" id="adult" />
                                <label class="form-check-label" for="adult" th:text="#{adult}" name="label-ami"></label>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{minor}" class="form-check-input" id="minor" />
                                <label class="form-check-label" for="minor" th:text="#{minor}" name="label-ami"></label>
                            </div>
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{inclusive}" class="form-check-input" id="inclusive" />
                                <label class="form-check-label" for="inclusive" th:text="#{inclusive}" name="label-ami"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center text-center">
                        <div class="col-6 col-lg-1 p-0">
                            <label for="specificStartDate" th:text="#{start.date}"></label>
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                            <input type="date" th:field="*{specificStartDate}" class="form-control" id="specificStartDate" />
                        </div>
                        <div class="col-6 col-lg-1 p-0">
                            <label for="specificEndDate" th:text="#{end.date}"></label>
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                            <input type="date" th:field="*{specificEndDate}" class="form-control" id="specificEndDate" />
                        </div>

                        <div class="col-6 col-lg-1 p-0">
                            <label for="startTime" th:text="#{start.time}"></label>
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                            <input type="time" th:field="*{startTime}" class="form-control" id="startTime" />
                        </div>
                        <div class="col-6 col-lg-1 p-0">
                            <label for="endTime" th:text="#{end.time}"></label>
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                            <input type="time" th:field="*{endTime}" class="form-control" id="endTime" />
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>

                    <div class="row align-items-center d-flex flex-wrap">
                        <div class="col-4 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{monday}" class="form-check-input" id="monday" />
                                <label class="form-check-label" for="monday" th:text="#{monday}" name="label-week"></label>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{tuesday}" class="form-check-input" id="tuesday" />
                                <label class="form-check-label" for="tuesday" th:text="#{tuesday}" name="label-week"></label>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{wednesday}" class="form-check-input" id="wednesday" />
                                <label class="form-check-label" for="wednesday" th:text="#{wednesday}" name="label-week"></label>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{thursday}" class="form-check-input" id="thursday" />
                                <label class="form-check-label" for="thursday" th:text="#{thursday}" name="label-week"></label>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{friday}" class="form-check-input" id="friday" />
                                <label class="form-check-label" for="friday" th:text="#{friday}" name="label-week"></label>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{saturday}" class="form-check-input" id="saturday" />
                                <label class="form-check-label" for="saturday" th:text="#{saturday}" name="label-week"></label>
                            </div>
                        </div>
                        <div class="col-4 col-lg-2 p-0">
                            <div class="form-check">
                                <input type="checkbox" th:field="*{sunday}" class="form-check-input" id="sunday" />
                                <label class="form-check-label" for="sunday" th:text="#{sunday}" name="label-week"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center text-center">
                        <div class="d-none col-lg-2 p-0">
                        </div>
                        <div class="col-6 col-lg-1 p-0">
                            <label for="price" th:text="#{price}"></label>
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                            <input type="number" th:field="*{price}" id="price" class="form-control" placeholder="0.00" step="0.01" min="0">
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                        </div>
                        <div class="col-6 col-lg-2 p-0">
                            <button class="btn btn-success" type="submit"><span th:text="#{save}"></span></button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="d-none col-lg-6">
                        </div>
                        <div class="col-12 col-lg-6">
                            <span id="thereIsError" name="errorSpan" class="d-none" th:text="#{fillObligatory}"></span>
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </body>

    <footer th:replace="~{static/footer :: footer}"></footer>
</html>