<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta th:replace="~{static/headerMeta :: meta}">
        <link th:replace="~{static/headerLink :: link}">
        <script th:replace="~{static/headerScript :: script}"></script>
        <script th:replace="~{static/headerScriptJquery :: script}"></script>

        <title th:text="#{belts}"></title>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#sortable").sortable({
                    start: function(e,ui) {
                        // creates a temporary attribute on the element with the old index
                        $(this).attr('data-previndex', ui.item.index());
                        //console.log("oldIndex: " + $(this).attr('data-previndex'));
                    },
                    update: function(e, ui) {
                        // gets the new and old index then removes the temporary attribute
                        var newIndex = ui.item.index();
                        //console.log("newIndex: " + newIndex);
                        var oldIndex = $(this).attr('data-previndex');
                        var relativeUrl = "gymBelt/changeBelt/" + $('#gymId').val() + "/"  + oldIndex + "/" + newIndex;
                        var domain = getDomain(location.href);
                        $(this).removeAttr('data-previndex');
                        //console.log(location.href + " - " + domain + relativeUrl);
                        location.href = domain + relativeUrl;
                    }
                });
            });

            function validate(){
                var campo = ['color'];
                restore();
                var validated = true;
                for(var i=0; i < campo.length; i++){
                    var rolName = document.getElementById(campo[i]);
                    if(rolName.value==''){
                        rolName.style.borderColor="red";
                        validated = false;
                    }
                }
                return validated;
            }

            function restore(){
                var campos = document.getElementsByClassName("form-control");
                for (var i = 0; i < campos.length; i++) {
                    campos[i].style.borderColor="#ced4da";
                }
            }

            function confirmDelete(){
                var belt = document.getElementById('gymBeltId').selectedOptions[0];
                let deleteAsk = $('#deleteAsk').val();
                if(confirm(deleteAsk + " " + belt.text + "?")){
                    var relativeUrl = "gymBelt/remove-belt/" + belt.value;
                    var domain = getDomain(location.href);
                    location.href = domain + relativeUrl;
                    return true;
                }
                return false;
            }
        </script>

    </head>
    <body>
        <div th:replace="~{static/barraUser :: div}"></div>
        <div th:replace="~{static/barraNav :: nav}"></div>
        <div th:replace="~{static/barraAdminRootButtons :: section}"></div>

        <div class="container">
            <input type="hidden" id="gymId" th:value="${gymModel.id}"/>
            <input type="hidden" id="deleteAsk" th:value="#{confirm.delete}"/>

            <section class="marginTopBottom1Percentage text-center">
                <div th:if="${removeProblem != null}" class="alert alert-danger" role="alert"><span
                        th:text="#{categories}"></span><span
                        th:text="${': '+removeProblem}"></span></div>
            </section>

            <section>
                <div class="row align-items-center justify-content-end">
                    <div class="col-md-2">
                    </div>
                    <div class="col-9 col-md-8 colorGreen">
                        <h1><span th:text="#{belts}"></span> <span th:text="${gymModel.name}"></span></h1>
                    </div>
                    <div class="col-3 col-md-2">
                        <a class="btn btn-info" href="#" th:href="@{/gym/gym-admin/__${gymModel.id}__}"><span th:text="#{back}"></span></a>
                    </div>
                </div>
            </section>

            <section sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:action="@{/gymBelt/addBelt/__${gymModel.id}__}" th:object="${gymBeltModel}"
                      method="post"
                      onsubmit="return validate()">
                    <div class="row mb-3">
                        <div class="col-12 col-md-1">
                            <label for="color" th:text="#{color}"></label>
                        </div>
                        <div class="col-9 col-md-3 mb-3">
                            <input type="text" th:field="*{color}" id="color" class="form-control" placeholder="color"
                                   maxlength="30"/>
                        </div>
                        <div class="col-3 col-md-1 mb-3">
                            <button class="btn btn-success" type="submit"><span th:text="#{save}"></span></button>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-7 col-md-3">
                            <select id="gymBeltId" class="form-select">
                                <option th:each="unit : ${gymBeltModelList}" th:value="${unit.id}"
                                        th:text="${unit.color}"></option>
                            </select>
                        </div>
                        <div class="col-3 col-md-1">
                            <a class="btn btn-danger" onclick="confirmDelete()"><span th:text="#{delete}"></span></a>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-2 col-lg-4">
                    </div>
                    <div class="col-10 col-lg-4 text-center">
                        <ul id="sortable" class="list-group mb-1">
                            <li th:each="unit : ${gymBeltModelList}" th:value="${unit.id}" th:text="${unit.color}"
                                class="list-group-item move">
                            </li>
                        </ul>
                    </div>
                    <div class="col-1 col-lg-4">
                    </div>
                </div>
            </section>
        </div>

    </body>

    <footer th:replace="~{static/footer :: footer}"></footer>
</html>