<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta th:replace="~{static/headerMeta :: meta}">
        <link th:replace="~{static/headerLink :: link}">
        <script th:replace="~{static/headerScript :: script}"></script>
        <script th:replace="~{static/headerScriptJquery :: script}"></script>

        <title th:text="#{categories}"></title>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#sortable").sortable({
                    start: function(e,ui) {
                        // creates a temporary attribute on the element with the old index
                        $(this).attr('data-previndex', ui.item.index());
                        //console.log("oldIndex: " + $(this).attr('data-previndex'));
                    },
                    update: function(e, ui) {
                        // gets the new and old index then removes the temporary attribute
                        var newIndex = ui.item.index();
                        //console.log("newIndex: " + newIndex);
                        var oldIndex = $(this).attr('data-previndex');
                        var relativeUrl = "gymCategory/change-category/" + $('#gymId').val() + "/"  + oldIndex + "/" + newIndex;
                        var domain = getDomain(location.href);
                        $(this).removeAttr('data-previndex');
                        //console.log(location.href + " - " + domain + relativeUrl);
                        location.href = domain + relativeUrl;
                    }
                });
            });

            function validate(){
                var campo = ['name'];
                restore();
                var validated = true;
                for(var i=0; i < campo.length; i++){
                    var rolName = document.getElementById(campo[i]);
                    if(rolName.value==''){
                        rolName.style.borderColor="red";
                        validated = false;
                    }
                }
                return validated;
            }

            function restore(){
                var campos = document.getElementsByClassName("form-control");
                for (var i = 0; i < campos.length; i++) {
                    campos[i].style.borderColor="#ced4da";
                }
            }

            function confirmDelete(){
                var category = document.getElementById('gymCategoryId').selectedOptions[0];
                let deleteAsk = $('#deleteAsk').val();
                if(confirm(deleteAsk + " " + category.text + "?")){
                    var relativeUrl = "gymCategory/remove-category/" + category.value;
                    var domain = getDomain(location.href);
                    location.href = domain + relativeUrl;
                    return true;
                }
                return false;
            }


        </script>

    </head>
    <body>
        <div th:replace="~{static/barraUser :: div}"></div>
        <div th:replace="~{static/barraNav :: nav}"></div>
        <div th:replace="~{static/barraAdminRootButtons :: section}"></div>

        <div class="container">
            <input type="hidden" id="gymId" th:value="${gymModel.id}"/>
            <input type="hidden" id="deleteAsk" th:value="#{confirm.delete}"/>

            <section class="marginTopBottom1Percentage text-center">
                <div th:if="${removeProblem != null}" class="alert alert-danger" role="alert"><span
                        th:text="#{error.deleting.item}"></span></div>
            </section>

            <section>
                <div class="row align-items-center justify-content-end">
                    <div class="col-md-2">
                    </div>
                    <div class="col-9 col-md-8 colorGreen">
                        <h1><span th:text="#{categories}"></span> <span th:text="${gymModel.name}"></span></h1>
                    </div>
                    <div class="col-3 col-md-2">
                        <a class="btn btn-info" href="#" th:href="@{/gym/gym-admin/__${gymModel.id}__}"><span th:text="#{back}"></span></a>
                    </div>
                </div>
            </section>

            <section sec:authorize="hasRole('ROLE_ADMIN')" class="row mt-1 backgroundColorLightViolet">
                <form action="#" th:action="@{/gymCategory/category}" th:object="${gymCategoryModel}"
                      method="post" onsubmit="return validate()">

                    <input type="hidden" name="gymModel.id" th:value="${gymModel.id}"/>
                    <div class="row mt-3 mb-1">
                        <div class="col-12 col-md-1">
                            <label for="name" th:text="#{name}"></label>
                        </div>
                        <div class="col-12 col-md-3">
                            <input type="text" th:field="*{name}" id="name" class="form-control" maxlength="50"/>
                        </div>
                        <div class="col-12 col-md-2">
                            <label for="startBirthdayYear" th:text="#{start.birthday.year}"></label>
                        </div>
                        <div class="col-6 col-md-2">
                            <input type="number" th:field="*{startBirthdayYear}" id="startBirthdayYear" class="form-control" step="1" min="1900"/>
                        </div>
                        <div class="col-6 d-md-none">
                        </div>
                        <div class="col-12 col-md-2">
                            <label for="endBirthdayYear" th:text="#{end.birthday.year}"></label>
                        </div>
                        <div class="col-6 col-md-2">
                            <input type="number" th:field="*{endBirthdayYear}" id="endBirthdayYear" class="form-control" step="1" min="1900"/>
                        </div>
                        <div class="col-6 col-md-1">
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-5 g-3 mt-1 mb-1">
                        <div th:each="belt : ${gymBeltModelList}">
                            <div class="col">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" th:field="*{beltIdList}" th:value="${belt.id}"/>
                                    <span th:text="${belt.color}"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12 col-md-1">
                            <label for="gymPoomsaeModel" th:text="#{poomsae}"></label>
                        </div>
                        <div class="col-12 col-md-3">
                            <select id="gymPoomsaeModel" name="gymPoomsaeModel.id" class="form-select">
                                <option th:each="unit : ${gymPoomsaeModelList}" th:value="${unit.id}"
                                        th:text="${unit.name}"></option>
                            </select>
                        </div>
                        <div class="col-12 col-md-2 d-flex justify-content-end">
                            <button class="btn btn-success" type="submit"><span th:text="#{save}"></span></button>
                        </div>
                    </div>
                </form>
            </section>

            <section sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
                    <div class="col pe-5">
                        <select id="gymCategoryId" class="form-select">
                            <option th:each="unit : ${gymCategoryModelList}" th:value="${unit.id}"
                                    th:text="${unit.name}"></option>
                        </select>
                        <a class="btn btn-danger" onclick="confirmDelete()"><span th:text="#{delete}"></span></a>
                    </div>
                    <div class="col text-center">
                        <ul id="sortable" class="list-group mb-1">
                            <li th:each="unit : ${gymCategoryModelList}" th:value="${unit.id}"
                                th:text="${unit.name+' / '+unit.startBirthdayYear+'-'+unit.endBirthdayYear+' / '+unit.beltNameList+' / '+unit.gymPoomsaeModel.name}"
                                class="list-group-item move mb-1">
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>

    </body>

    <footer th:replace="~{static/footer :: footer}"></footer>
</html>