<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
    <head>
        <meta th:replace="~{static/headerMeta :: meta}">
        <link th:replace="~{static/headerLink :: link}">
        <script th:replace="~{static/headerScript :: script}"></script>
        <script th:replace="~{static/headerScriptJquery :: script}"></script>
        <script th:replace="~{static/headerScriptTable :: script}"></script>

        <title th:text="#{enrollments}"></title>

        <script>
        function viewDetail(enrollmentId){
            var relativeUrl = "root/enrollment/" + enrollmentId;
            var domain = getDomain(location.href);
            location.href = domain + relativeUrl;
        }
        </script>

    </head>
    <body>
        <div th:replace="~{static/barraUser :: div}"></div>
        <div th:replace="~{static/barraNav :: nav}"></div>
        <div th:replace="~{static/barraAdminRootButtons :: section}"></div>

        <div class="container">

            <section>
                <div class="row mb-1 text-center">
                    <div class="col-12 colorGreen">
                        <h1 th:text="#{enrollments}"></h1>
                    </div>
                </div>
            </section>
        </div>

        <section sec:authorize="hasRole('ROLE_ROOT')">
            <h5 class="d-lg-none" th:text="#{to.see.full.table}"></h5>
            <table class="table table-striped table-hover sortable">
                <thead>
                <tr class="text-center">
                    <th scope="col" class="fw-normal">
                        <button class="btn">ID</button>
                    </th>
                    <th scope="col" class="fw-normal">
                        <button class="btn"><span th:text="#{registration.date}"></span></button>
                    </th>
                    <th scope="col" class="fw-normal">
                        <button class="btn"><span th:text="#{enrollment}"></span></button>
                    </th>
                    <th scope="col" class="fw-normal">
                        <button class="btn"><span th:text="#{username}"></span></button>
                    </th>
                    <th scope="col" class="fw-normal">
                        <button class="btn"><span th:text="#{gym}"></span></button>
                    </th>
                    <th scope="col" class="d-none d-lg-table-cell">
                        <button class="btn"><span th:text="#{participating.entity}"></span></button>
                    </th>
                    <th scope="col" class="d-none d-lg-table-cell">
                        <button class="btn"><span th:text="#{name}"></span></button>
                    </th>
                    <th scope="col" class="d-none d-lg-table-cell">
                        <button class="btn"><span th:text="#{lastname}"></span></button>
                    </th>
                    <th scope="col" class="d-none d-lg-table-cell">
                        <button class="btn"><span th:text="#{secondLastname}"></span></button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="enrollment : ${enrollmentModelList}" th:attr="onclick=|viewDetail('${enrollment.id}')|">
                    <td class="text-center"><span th:text="${enrollment.id}"></span></td>
                    <td><span th:text="${#calendars.format(enrollment.enrollmentDate,'dd/MM/yyyy HH:mm:ss')}"></span></td>
                    <td><span th:text="${enrollment.name}"></span></td>
                    <td><span th:if="${enrollment.userModel != null}" th:text="${enrollment.userModel.username}"></span></td>
                    <td><span th:if="${enrollment.gymModel != null}" th:text="${enrollment.gymModel.name}"></span></td>
                    <td class="d-none d-lg-table-cell text-center"><span th:text="${enrollment.gymName}"></span></td>
                    <td class="d-none d-lg-table-cell text-center"><span th:text="${enrollment.userEnrollmentName}"></span></td>
                    <td class="d-none d-lg-table-cell text-center"><span th:text="${enrollment.userEnrollmentLastname}"></span></td>
                    <td class="d-none d-lg-table-cell text-center"><span th:text="${enrollment.userEnrollmentSecondLastname}"></span></td>
                </tr>
                </tbody>
            </table>
        </section>

        <div class="row align-items-center justify-content-end">
            <div class="col-3 col-md-2">
                <a class="btn btn-info" href="#" th:href="@{/}"><span th:text="#{back}"></span></a>
            </div>
        </div>

    </body>

    <footer th:replace="~{static/footer :: footer}"></footer>
</html>