<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="es">
    <head>
        <meta th:replace="~{static/headerMeta :: meta}">
        <link th:replace="~{static/headerLink :: link}">
        <script th:replace="~{static/headerScript :: script}"></script>

        <title th:text="#{parameters}"></title>

        <script th:inline="javascript">
			function validate(emptyPass){

				if(emptyPass){
					var campo = ['email','emailHost','emailPassword','hostPageName'];
				} else {
					var campo = ['email','emailHost','hostPageName'];
				}
				restore();
				var validated = true;
				for(var i=0; i < campo.length; i++){
					var rolName = document.getElementById(campo[i]);
					if(rolName.value==''){
						rolName.style.borderColor="red";
						validated = false;
					}
				}

				if(validated){
					return true;
				} else {
					return false;
				}
			}

			function restore(){
				var campos = document.getElementsByClassName("form-control");
				for (var i = 0; i < campos.length; i++) {
					campos[i].style.borderColor="#ced4da";
				}
				var camposSelect = document.getElementsByClassName("form-select");
				for (var i = 0; i < camposSelect.length; i++) {
					camposSelect[i].style.borderColor="#ced4da";
				}
			}

			function showPass() {
				var x = document.getElementById("emailPassword");
					if (x.type === "password") {
					x.type = "text";
				} else {
					x.type = "password";
				}
			}
        </script>

    </head>
    <body>
        <div th:replace="~{static/barraUser :: div}"></div>
        <div th:replace="~{static/barraNav :: nav}"></div>
        <div th:replace="~{static/barraAdminRootButtons :: section}"></div>

        <div class="container marginBottom2Percentage">
            <section class="marginTopBottom1Percentage text-center">
                <div th:if="${updateOK != null}" class="alert alert-success" role="alert"><span
                        th:text="#{update.ok}"></span></div>
            </section>

            <section>
                <div class="row mb-1 text-center">
                    <div class="col-12 colorGreen">
                        <h1 th:text="#{parameters}"></h1>
                    </div>
                </div>
            </section>

            <section sec:authorize="hasRole('ROLE_ROOT')" class="backgroundColorLightOrange p-3">
                <form action="#" th:action="@{/root/update-parameters}" th:object="${managerParameterModel}"
                      method="post" th:attr="onsubmit='return validate(' + ${emptyPass} + ')'">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="row mb-1">
                        <div class="col-5 col-md-3">
                            <label for="email" th:text="#{host.page.name}"></label>
                        </div>
                        <div class="col-7 col-md-6">
                            <input type="text" th:field="*{hostPageName}" id="hostPageName" class="form-control"/>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5 col-md-3">
                            <label for="email" th:text="#{email}"></label>
                        </div>
                        <div class="col-7 col-md-6">
                            <input type="text" th:field="*{email}" id="email" class="form-control"/>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div th:if="${emptyPass}" class="row mb-1">
                        <div class="col-5 col-md-3">
                            <label for="emailPassword" th:text="#{password}"></label>
                        </div>
                        <div class="col-7 col-md-6">
                            <input type="password" th:field="*{password}" id="emailPassword" class="form-control"/>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-12">
                            <input type="checkbox" onclick="showPass()"><span th:text="#{show.password}"></span>
                        </div>
                    </div>
                    <div th:if="${!emptyPass}" class="row mb-1">
                        <div class="col-7 col-md-5">
                        </div>
                        <div class="col-5 col-md-7">
                            <a class="btn btn-danger" href="#" th:href="@{/root/parameters-email-pass}"><span
                                    th:text="#{change.pass}"></span></a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-5 col-md-3">
                            <label th:for="emailHost"><span th:text="#{host.provider}"></span></label>
                        </div>
                        <div class="col-7 col-md-3">
                            <select th:field="*{emailHost}" id="emailHost" class="form-select">
                                <option th:each="unitHost : ${utilListHost}" th:value="${unitHost.value}"
                                        th:text="${unitHost.key}"
                                        th:selected="${unitHost.value == managerParameterModel.emailHost}"></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-8 col-md-9">
                        </div>
                        <div class="col-4 col-md-3">
                            <button class="btn btn-success" type="submit"><span th:text="#{save}"></span></button>
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </body>

    <footer th:replace="~{static/footer :: footer}"></footer>
</html>