<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta th:replace="~{static/headerMeta :: meta}">
	<link th:replace="~{static/headerLink :: link}">
	<script th:replace="~{static/headerScript :: script}"></script>
	
	<title th:text="#{change.pass}"></title>

	<script type="text/javascript">
		function validate(){

			var field = ['oldPassword','newPassword','newPasswordRepeat'];
			restore();
			var validated = true;
			for(var i=0; i < field.length; i++){
			    var rolName = document.getElementById(field[i]);
			    var rolNameError = document.getElementById(field[i]+'Error');
				if(rolName.value==''){
					if(rolNameError != null){
						rolNameError.className = "colorRed";
					}
					rolName.style.borderColor="red";
					validated = false;
				}
			}

			if(!validated){
				document.getElementById('thereIsError').className = "colorRed";
			}

    		var pass1 = document.getElementById('newPassword').value;
	    	var pass2 = document.getElementById('newPasswordRepeat').value;
	    	if(pass1.length > 0 && pass1 != pass2){
	    		document.getElementById('newPasswordError').className = "colorRed";
	    		document.getElementById('newPassword').style.borderColor="red";
	    		document.getElementById('newPasswordRepeat').style.borderColor="red";
	    		validated = false;
	    	}

			if(validated){
				return true;
			} else {
				return false;
			}
		}
		function restore(){
			var errorSpan = document.getElementsByName('errorSpan');
			for (var i = 0; i < errorSpan.length; i++) {
				errorSpan[i].className = "d-none";
			}
			var fields = document.getElementsByClassName("form-control");
			for (var i = 0; i < fields.length; i++) {
				fields[i].style.borderColor="#ced4da";
			}
		}
	</script>
</head>
<body>
	<div th:replace="~{static/barraUser :: div}"></div>
	<div th:replace="~{static/barraNav :: nav}"></div>
	
	<div class="container">

		<section class="marginBottom2Percentage text-center">
			<div th:if="${oldDifferent != null}" class="alert alert-danger" role="alert"><span th:text="#{password.old.different}"></span></div>
			<div th:if="${modifiedPass != null}" class="alert alert-success" role="alert"><span th:text="#{password.modified}"></span></div>
		</section>

		<form sec:authorize="isAuthenticated()" action="#" th:action="@{/user/update-pass}" th:object="${userPasswordModel}" method="post" onsubmit="return validate()">
		
			<input type="hidden" name="username" th:value="${userPasswordModel.username}"/>

			<div class="row mt-2 mb-1">
				<div class="col-md-3">
				</div>
				<div class="col-3 col-md-2">
					<label for="oldPassword"><span th:text="#{password.old}"></span>:</label>
				</div>
				<div class="col-9 col-md-3">
					<input type="password" th:field="*{oldPassword}" id="oldPassword" class="form-control"/>
				</div>
				<div class="col-md-4">
				</div>
			</div>

			<div class="row mb-1">
				<div class="col-md-3">
				</div>
				<div class="col-3 col-md-2">
					<label for="newPassword"><span th:text="#{password.new}"></span>:</label>
				</div>
				<div class="col-9 col-md-3">
					<input type="password" th:field="*{newPassword}" id="newPassword" class="form-control"/>
				</div>
				<div class="col-md-4">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-3">
				</div>
				<div class="col-12 col-md-9">
					<span id="newPasswordError" name="errorSpan" class="d-none" th:text="#{passwords.different}"></span>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-md-3">
				</div>
				<div class="col-3 col-md-2">
					<label for="newPasswordRepeat"><span th:text="#{password.new.repeat}"></span>:</label>
				</div>
				<div class="col-9 col-md-3">
					<input type="password" th:field="*{newPasswordRepeat}" id="newPasswordRepeat" class="form-control"/>
				</div>
				<div class="col-md-4">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-2 col-md-3">
				</div>
				<div class="col-2">
					<button class="btn btn-primary" type="submit"><span th:text="#{save}"></span></button>
				</div>
				<div class="col-4 col-md-3">
				</div>
				<div class="col-2">
					<a class="btn btn-info" href="#" th:href="@{/user/profile}"><span th:text="#{back}"></span></a>
				</div>
				<div class="col-2">
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-6">
					<span id="thereIsError" name="errorSpan" class="d-none" th:text="#{fillObligatory}"></span>
				</div>
				<div class="col-6">
				</div>
			</div>

		</form>
	</div>
</body>

<footer th:replace="~{static/footer :: footer}"></footer>
</html>