<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:replace="~{static/cabeceraMeta :: meta}">
	<link th:replace="~{static/cabeceraLink :: link}">
	<script th:replace="~{static/cabeceraScript :: script}"></script>

	<title th:text="#{error.servidor}"></title>
</head>
<body>
<div th:replace="~{static/barraNavNotAuthenticated :: nav}"></div>

<div class="jumbotron">
	<div class="container mt-5 mb-5">
		<div class="row align-items-center text-center">
			<div class="col-12 mb-5">
				<img src="#" th:src="@{/imgs/500.png}"  alt="Error 500"/>
			</div>
			<div class="col-12 mb-5">
				<h1><span th:text="#{error.servidor}"></span></h1>
			</div>
			<div class="col-12">
				<form action="#" th:action="@{/principal/}" >
					<button class="btn btn-primary btn-lg" type="submit" th:text="#{volver.pagina.principal}"></button>
				</form>
			</div>
		</div>
	</div>
</div>

</body>

<footer th:replace="~{static/footer :: footer}"></footer>
</html>