        <nav sec:authorize="isAuthenticated()" class="navbar navbar-expand-lg bg-light bsb-navbar bsb-navbar-hover bsb-navbar-caret">
            <div class="container">
                <a class="navbar-brand" href="#" th:href="@{/principal/}">
                    <img src="#" th:src="@{/imgs/MiLogo.jpg}" alt="" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body flex-grow-0 d-lg-inline">
                        <ul class="navbar-nav justify-content-end">
                            <li th:each="menu1, iStat : ${menu1List}" class="nav-item dropdown pe-2">
                                <a class="nav-link dropdown-toggle" href="#!" th:id="'dropdown' + ${iStat.index}" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span th:text="${menu1.nombre}"></span></a>
                                <ul class="dropdown-menu border-0 shadow bsb-zoomIn" th:attr="aria-labelledby='dropdown' + ${iStat.index}">
                                    <li th:if="${menu1.menu2ModelList != null}" th:each="menu2 : ${menu1.menu2ModelList}"><a class="dropdown-item" href="#" th:href="@{__${menu2.url}__}"><span th:text="${menu2.nombre}"></span> <span th:if="${__${menu2.aviso}__ != null}" class="badge" th:text="${__${menu2.aviso}__}"></span></a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ayuda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0" href="#" th:attr="onclick=|logout()|"><i class="icofont-logout" aria-hidden="true"></i> Salir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>