
    <footer class="bg-white">
        <div class="d-lg-flex p-3">
            <div class="w-100 p-3">
            </div>
            <div class="w-100 p-3">
                <nav>
                    <div>
                        <span th:text="#{footer.title.1}"></span>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <div class="d-flex w-100 p-3">
                                    <span th:text="#{footer.title.1.option.1}"></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span th:text="#{footer.title.1.option.2}"></span>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </nav>
            </div>
            <div class="w-100 p-3">
                <nav>
                    <div>
                        <span th:text="#{footer.title.2}"></span>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <div class="d-flex w-100 p-3">
                                    <span th:text="#{footer.title.2.option.1}"></span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <span th:text="#{footer.title.2.option.2}"></span>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </nav>
            </div>
            <div class="w-100 p-3">
            </div>
        </div>
    </footer>